.wrapper-explore {
    margin-left: 18%;
    width: 82%;
    padding: 0 4rem;
    padding-top: 7rem;
    margin-bottom: 16%;
    overflow: hidden;
}

/*Banner explore*/
.wrapper-banner-modal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: var(--padding_explore) 0;
}

.wrapper-banner-modal .chevron {
    display: none;
    font-size: 2.5rem;
    width: 6rem;
    height: 6rem;
    color: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3)
}

.wrapper-banner-modal .chevron-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
}

.wrapper-banner-modal .chevron-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
}

.wrapper-banner-modal:hover .chevron {
    display: flex;
}

.wrapper-banner-modal .banner-item {
    margin: 0 1rem;
    width: 31%;
    height: 100%;
}

.wrapper-banner-modal .banner-img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.wrapper-banner-modal .banner-img .img {
    width: 100%;
    height: 100%;
    max-height: 16rem;
    border-radius: 8px;
}

.banner-item .wrapper-modal-song {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    z-index: 10;
    z-index: 1000;
}

.banner-item .wrapper-modal-song .modal-song {
    position: absolute;
    width: 26%;
    height: 84%;
    top: 8%;
    bottom: 5%;
    background-color: #432275;
    padding: 2rem;
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

.title-header-modal-song {
    padding-bottom: 1rem;
    text-align: center;
    text-transform: none;
}

.wrapper-header-modal-song {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    padding-top: 1rem;
    padding-bottom: 1.5rem
}

.wrapper-content-modal-song {
    max-width: 18rem;
    overflow: hidden;
    text-transform: capitalize;
}

.wrapper-header-modal-song .song {
    font-weight: 700;
    margin: 0.5rem 0;
    text-align: center;
}

.wrapper-header-modal-song .singer {
    opacity: 0.7;
    font-size: 1.3rem;
    text-align: center;
}

.wrapper-header-modal-song .img-modal-song {
    width: 18rem;
    height: 18rem;
    border-radius: 5px;
    overflow: hidden;
}

.wrapper-header-modal-song .img-modal-song .img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.wrapper-header-modal-song .img-modal-song:hover .img {
    border-radius: 5px;
    animation: scaleImage 0.3s linear;
    transform: scale(1.1);
}

.wrapper-modal-song .wrapper-play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    border-radius: 2rem;
    background-color: #7200a1;
    height: 4rem;
    cursor: pointer;
}

.wrapper-modal-song .wrapper-play i {
    margin-right: 0.5rem;
}

.wrapper-modal-song .add-song {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    border-radius: 2rem;
    background-color: white;
    color: black;
    height: 4rem;
    cursor: pointer;
}

.wrapper-modal-song .close-modal {
    cursor: pointer;
}

/* Recently explore */
.wrapper-explore .wrapper-recently-explore {
    color: #fff;
    font-weight: var(--weight_title);
    font-size: 1.4rem;
    padding: var(--padding_explore) 0;
    position: relative;
}


.wrapper-explore .title-all {
    position: absolute;
    top: 3rem;
    right: 1rem;
    font-size: var(--size_title);
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    display: flex;
    align-items: center;
    opacity: 0.7;
}

.wrapper-explore .title-all:hover {
    color: red;
}

.wrapper-explore .title-all i {
    font-size: 1rem;
    margin-left: 0.5rem;
}

.wrapper-explore .wrapper-content-recently {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    padding-bottom: 0;
}

.wrapper-explore .wrapper-item-recently {
    display: flex;
    flex-direction: column;
}

.wrapper-explore .wrapper-item-recently .image {
    width: 14rem;
    height: 14rem;
    position: relative;
    margin-bottom: 0.7rem;
}

.wrapper-explore .wrapper-item-recently .image .animation {
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
}

.wrapper-item-recently .image img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
}

.wrapper-item-recently:hover .image .animation img {
    box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 2px 0px, rgba(255, 255, 255, 0.15) 0px 1px 3px 1px;
    animation: scaleImage 0.4s linear;
    transform: scale(1.1);
}

.wrapper-item-recently:hover .animation {
    opacity: 0.6;
}

.wrapper-explore .title-explore {
    font-size: var(--size_title);
    margin: var(--margin_title);
    text-transform: capitalize;
}

.wrapper-explore .title-song:hover {
    color: #c662ef;
    cursor: pointer;
}

.wrapper-card-recently-explore {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    margin: auto;
    font-size: 2rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.wrapper-item-recently:hover .wrapper-card-recently-explore {
    display: flex;
    opacity: 1;
    z-index: 100;
}

.wrapper-card-recently-explore .wrapper-chart-explore {
    margin: 0 1rem;
    border-radius: 50%;
    border: 1px solid white;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* New release */
.container-release {
    color: #fff;
    font-weight: var(--weight_title);
    font-size: 1.4rem;
    padding: var(--padding_explore) 0;
}

.wrapper-content-release {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrapper-item-release {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    position: relative;
    width: 100%;
}

.wrapper-item-release .item-release {
    margin: 1rem;
    width: 8rem;
    height: 2.5rem;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.wrapper-item-right-release {
    position: absolute;
    right: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: var(--size_title);
    text-transform: capitalize;
    opacity: 0.7;
}

.wrapper-item-right-release i {
    margin-right: 1rem;
    margin-left: 0.5rem;
    font-size: 1rem;
}

.wrapper-item-right-release:hover {
    color: var(--secondary);
}

.wrapper-card-release {
    margin: 0 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item-card-release {
    font-size: 1.2rem;
    width: 32%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8rem;
    padding-left: 1rem;
    color: rgba(255, 255, 255, 0.6);
}

.item-card-release:hover {
    background-color: rgba(213, 184, 236, 0.1);
}

.item-card-release:hover .icon-release {
    display: block;
}

.title-song-release {
    color: white;
    font-size: 1.6rem;
}

.image-card-release {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    position: relative;
    height: 6rem;
    width: 6rem;
}

.image-card-release .img {
    border-radius: 5px;
}

.item-card-release:hover .image-card-release .img {
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.image-card-release .fa-play {
    display: none;
    color: #fff;
    font-size: 2rem;
    z-index: 20;
}

.item-card-release:hover .fa-play {
    display: block;
    position: absolute;
}

.image-card-release img {
    width: 100%;
    height: 100%;
}

.wrapper-content-card-release div {
    margin-bottom: 0.4rem;
}

.icon-release {
    display: none;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 4rem;
    height: 4rem;
    color: white;
    font-size: 2rem;
}

.image-card-album-release {
    width: 8rem;
    height: 8rem;
    position: relative;
    margin-right: 3rem;
    padding-left: 1rem;
}

.item-card-release .image-card-album-release .img-top {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    left: 1rem;
    transition: left 1s;
    border-radius: 5px;
    cursor: pointer;
}

.item-card-release:hover .image-card-album-release .img-top {
    left: 0;
}

.item-card-release .image-card-album-release .fa-play {
    transition: transform 0.5s;
}

.item-card-release:hover .image-card-album-release .fa-play {
    transform: translateX(-1rem);
}


.item-card-release .image-card-album-release .img-bot {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 2rem;
    transition: transform 0.5s;
}

.item-card-release:hover .image-card-album-release .img-bot {
    transform: rotate(180deg);
}

/* Can you want listen */
.wrapper-explore .wrapper-want-listen {
    color: #fff;
    font-weight: var(--weight_title);
    font-size: 1.4rem;
    padding: var(--padding_explore) 0;
}

.wrapper-want-listen .wrapper-four-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

.wrapper-want-listen .wrapper-item-card {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    position: relative;
}

.wrapper-want-listen .item-card {
    position: relative;
    width: 22rem;
    height: 24rem;
    max-height: 24rem;
    max-width: 22rem;
}

.wrapper-want-listen .item-favourite {
    height: 26rem;
    max-height: 26rem;
}

.wrapper-want-listen .item-card .wrapper-img {
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.wrapper-want-listen .item-card .img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.wrapper-want-listen .item-card:hover .img {
    animation: scaleImage 0.3s linear;
    transform: scale(1.1);
    opacity: 0.6;
}

.wrapper-want-listen .wrapper-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    display: none;
    flex-direction: row;
    justify-content: center;
    font-size: 2rem;
}

.wrapper-want-listen .item-card:hover .wrapper-icon {
    display: flex;
}

.wrapper-item-card .title-card:hover {
    color: red;
}

.wrapper-item-card .singer:hover {
    color: red;
    opacity: 1;
}

.wrapper-want-listen .wrapper-icon .fa-play {
    width: 4rem;
    height: 4rem;
    border: 1px solid white;
    margin: 0 1.5rem;
}

.wrapper-want-listen .title-card {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.4rem;
    margin: 1rem 0;
    max-width: 22rem;
}

.wrapper-want-listen .singer {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.3rem;
    opacity: 0.7;
    max-width: 22rem;
}

.wrapper-suggesstion {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    margin-top: 1rem;
}

.wrapper-suggesstion .img-suggesstion {
    width: 5rem;
    height: 5rem;
    border-radius: 5px;
    margin-right: 1rem;
    overflow: hidden;
}

.wrapper-suggesstion .img-suggesstion img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.wrapper-suggesstion .img-suggesstion:hover img {
    animation: scaleImage 0.3s linear;
    transform: scale(1.1);
}

.wrapper-suggesstion .suggesstion {
    opacity: 0.7;
    text-transform: uppercase;
}

.wrapper-suggesstion .suggesstion-title {
    font-size: 1.6rem;
    font-weight: 800;
    margin-top: 1rem;
}

/* Favourite Artist */

.wrapper-item-card .img-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 1rem;
    width: 5rem;
    height: 5rem;
}

.wrapper-item-card .img-group .img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    margin: 0 1rem;
}

/* Zing chart */
.wrapper-zing-chart {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin: 0 1rem;
    margin-top: 3rem;
    border-radius: 8px;
    position: relative;
}

.wrapper-zing-chart .img-bg { 
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
}

.wrapper-zing-chart .img-bg img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.zing-chart {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(180deg, #740091, #2d1a4c);
    opacity: 0.9;
    padding: 2rem;
    border-radius: 8px;
}

.zing-chart .item-zing-img {
    display: flex;
    flex-direction: column;
}

.zing-chart .header-zing {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    z-index: 10;
    color: #fff;
}

.zing-chart .title-zing {
    margin-right: 1rem;
    font-size: 2.5rem;
    font-weight: 900;
}

.zing-chart .icon-zing {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.zing-chart .icon-zing i {
    color: #740091;
}

.zing-chart .wrapper-img-zing {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.zing-chart .img-item-zing {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 35rem;
    height: 8rem;
    margin: 0.5rem 1rem;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.zing-chart .img-item-zing:hover { 
    background-color: rgba(255, 255, 255, 0.2);
}

.zing-chart .img-item-zing .fa-play {
    display: none;
    position: absolute;
    text-align: center;
    font-size: 2rem;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.zing-chart .img-item-zing:hover .fa-play{ 
   display: block;
   z-index: 100;
}

.zing-chart .img-zing {
    width: 6rem;
    height: 6rem;
    max-width: 6rem;
    background-color: #fff;
    margin-right: 1rem;
    border-radius: 5px;
    position: relative;
}

.zing-chart .img-item-zing:hover .bg-top {
    z-index: 100;
}

.zing-chart .img-zing .bg-top {
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
}

.zing-chart .content-zing {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.zing-chart .content-zing .song {
    color: #fff;
}

.zing-chart .img-zing .img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 10;
}

.wrapper-zing-chart .wrapper-zing-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    position: absolute;
    left:0;
    right:0;
    bottom: -10rem;
}

.wrapper-zing-chart .img-banner-zing {
    width: 32%;
    height: 8rem;
    overflow: hidden;
    border-radius: 5px;
}

.wrapper-zing-chart .img-banner-zing .img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.wrapper-zing-chart .img-banner-zing:hover .img {
    animation: scaleImage 0.3s linear;
    transform: scale(1.1);
}

.wrapper-img-zing .index {
    width: 20%;
    text-align: center;
}

.wrapper-img-zing .wrapper-item-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

.wrapper-img-zing .index {
    width: 20%;
}

.wrapper-img-zing .percent {
    width: 20%;
    text-align: center;
}

.zing-chart .btn-zing {
    margin-right: 1rem;
    width: 11rem;
    height: 3.2rem;
    border-radius: 18px;
    border: 1px solid #fff;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    cursor: pointer;
}

.zing-chart .btn-zing:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/*Singer Banner */
.container-banner-singer {
    position: relative;
    font-size: 1.4rem;
    padding: var(--padding_explore) 0;
    margin-top: 13rem;
}

.container-banner-singer .chevron-left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    color: black;
}

.container-banner-singer .disable-left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    z-index: 10;
    color: white;
}

.container-banner-singer .chevron-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    color: black;
}

.container-banner-singer .disable-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    z-index: 10;
    color: white;
}

.wrapper-banner-singer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.wrapper-banner-singer .item-img-banner {
    width: 14%;
    height: 16rem;
    cursor: pointer;
}

.wrapper-banner-singer .item-img-banner:hover {
    opacity: 0.7;
}

.wrapper-banner-singer .item-img-banner .img {
    width: 100%;
    height: 100%;
}

/* Advertisement */
.container-ads {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    padding: 1rem;
}

.container-ads .img-ads {
    width: 9rem;
    height: 5rem;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    margin-bottom: 2rem;
}

.container-ads .img-ads .img {
    width: 75%;
    height: 75%;
}

@keyframes scaleImage {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}