.wrapper_genres {
    margin-left: 18%;
    width: 82%;
    height: 30rem;
    padding-top: 5.5rem;
    position: relative;
}

.wrapperItem {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.item {
    width: 24%;
    margin: 0.5%;
    position: relative;
    overflow: hidden;
    border-radius: 1.5rem;
    z-index: 200;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
}

.item:hover .image {
    box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 2px 0px, rgba(255, 255, 255, 0.15) 0px 1px 3px 1px;
    animation: scaleImage 0.3s linear;
    transform: scale(1.1);
}

.item:hover .title {
    font-size: 1.7rem;
    animation: scaleTitle 0.3s linear;
}

.image {
    width: 100%;
    height: 100%;
}

.title {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    width: 100%;
    text-align: center;
}

@keyframes scaleImage {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

@keyframes scaleTitle {
    from {
        font-size: 1.5rem;
    }

    to {
        font-size: 1.7rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 768px) and (max-width: 830px) {
    .wrapper_genres {
        width: calc(100% - var(--width_menu_bar));
        margin-left: var(--width_menu_bar);
        margin-top: 10rem;
    }

    .new_wrapper_genres {
        width: calc(99% - var(--width_menu_bar) - var(--width_nextsong));
        margin-left: var(--width_menu_bar);
        margin-top: 10rem;
    }

}

@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}