.wrapperHome {
    margin-left: 18%;
    width: 58%;
    padding: 0 1rem;
    }
 
    .wrapperItem {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
  
.item {
    width: 32%;
    margin: 0.5rem;
}

.image {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}