.wrapper-hundred-top {
    margin-left: 18%;
    width: 82%;
    min-height: 100vh;
    /* margin-bottom: 9rem; */
    padding: 0 4rem;
    margin-top: 5rem;
    color: white;
    position: relative;
}

.wrapper-hundred-top .img-parent {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    padding: 0 5rem;
}

.wrapper-hundred-top .img-parent .img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.wrapper-hundred-top .bg-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 35rem;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.05);
}