.main_footer {
    border-top: var(--line_primary);
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    z-index: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.wrapper_footer_left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    height: 100%;
}

.wrapper_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.wrapper_img_footer {
    height: 100%;
    width: 6rem;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.image_singer {
    width: 100%;
    overflow: hidden;
    border-radius: 1rem;
}

.wrapper_info .wrapper_img_footer .wrapper_content_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper_info .wrapper_content_footer {
    color: var(--blur_color);
    font-size: var(--fontSize_secondary);
    text-transform: capitalize;
}

.wrapper_info .wrapper_content_footer .song_content {
    font-size: var(--fontSize_primary);
    color: white;
    font-weight: 600;
    margin-bottom: 0.3rem;
}

.wrapper_footer_left .wrapper_icon {
    color: white;
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
}

.wrapper_icon i {
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper_icon i:hover {
    background-color: var(--blur_bg);
}

.wrapper_footer_left .wrapper_icon .fa-ellipsis {
    margin-left: 1rem;
}

.wrapper_footer_center {
    width: 50%;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper_footer_center .wrapper_list_icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 2rem;
    width: 50%;
    margin: auto;
}

.wrapper_footer_center .wrapper_list_icon i {
    cursor: pointer;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper_footer_center .wrapper_list_icon i:hover {
    background-color: var(--blur_bg);
}

.wrapper_footer_center .wrapper_list_icon .wrapper_icon_play {
    border: 1px solid white;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.wrapper_footer_center .wrapper_list_icon .wrapper_icon_play:hover {
    background-color: red;
}

.wrapper_footer_center .wrapper_progress_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 1rem;
    cursor: pointer;
}

.wrapper_footer_center .wrapper_progress_bar .progress_bar {
    width: 80%;
    min-width: 80%;
    height: 0.3rem;
    background-color: #333;
    border-radius: 3px;
    cursor: pointer;
    -webkit-appearance: none;
}

.progress_bar::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.progress_bar:hover::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
}

.wrapper_footer_center .wrapper_progress_bar:hover .progress_bar {
    height: 0.5rem;
}


.wrapper_footer_center .wrapper_progress_bar .content_progress_bar {
    font-size: 1rem;
    color: white;
    width: 10%;
    text-align: center;
}

.wrapper_footer_right {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.wrapper_footer_right i {
    border-radius: 50%;
    width: 3.6rem;
    height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper_footer_right i:hover {
    background-color: var(--blur_bg);
}

.wrapper_footer_right .wrapper_mv_content {
    width: 3.6rem;
    height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
}

.wrapper_footer_right .fa-cloud-arrow-down,
.fa-sliders,
.fa-arrow-right,
.fa-shuffle,
.fa-ellipsis,
.fa-heart,
.fa-microphone {
    position: relative;
}

.wrapper_footer_right .wrapper_mv_content:hover {
    background-color: var(--blur_bg);
}

.wrapper_footer_right .mv_content {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    border: 2px solid white;
    font-size: 1rem;
    font-weight: 900;
    justify-content: center;
    width: 2.3rem;
    height: 1.8rem;
}

.wrapper_footer_right .wrapper_bar_volume {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrapper_bar_volume .progress_bar_volume {
    width: 7rem;
    height: 8px;
    position: relative;
    display: flex;
    align-items: center;
    /* background-color: #fff; */
}

.progress_bar_volume:hover .progress_volume_isMuted {
    height: 6px;
}

.wrapper_bar_volume .progress_bar_volume .progress_volume_isMuted {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #333;
    border-radius: 3px;
    display: flex;
    align-items: center;
    cursor: pointer;
    -webkit-appearance: none;
}

.progress_volume_isMuted::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.progress_volume_isMuted:hover::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
    /* border: 4px solid white; */
    border-radius: 50%;
    background-color: #fff;
}

.wrapper_footer_right .show_list_song {
    background-color: var(--blur_bg);
    border-radius: 0.5rem;
    z-index: 1;
    width: 3.6rem;
}

.wrapper_footer_right .show_list_song i:hover {
    background-color: red;
    border-radius: inherit;
}

.wrapper-component-hover {
    display: none;
}

.wrapper-repeat {
    display: none;
}

.mv_content:hover .wrapper-component-hover,
.fa-cloud-arrow-down:hover .wrapper-component-hover,
.fa-microphone:hover .wrapper-component-hover,
.fa-sliders:hover .wrapper-component-hover,
.fa-repeat:hover .wrapper-component-hover,
.fa-ellipsis:hover .wrapper-component-hover,
.fa-heart:hover .wrapper-component-hover,
.fa-gear:hover .wrapper-component-hover,
.fa-comment-dots:hover .wrapper-component-hover,
.fa-shuffle:hover .wrapper-component-hover {
    background-color: rgb(88, 25, 170);
    color: white;
    bottom: 130%;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    width: 16rem;
    height: 2.5rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.arrow-under-component {
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    border-bottom: 0.8rem solid rgb(88, 25, 170);
    border-top: 0 solid transparent;
    border-left: 0.8rem solid transparent;
    border-right: 0.8rem solid transparent;
}

.arrow-component {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border-top: 0.8rem solid rgb(88, 25, 170);
    border-bottom: 0 solid transparent;
    border-left: 0.8rem solid transparent;
    border-right: 0.8rem solid transparent;
}



.arrow-sliders {
    position: absolute;
    right: 1.1rem;
    top: 100%;
    border-top: 0.8rem solid rgb(88, 25, 170);
    border-bottom: 0 solid transparent;
    border-left: 0.8rem solid transparent;
    border-right: 0.8rem solid transparent;
}

.wrapper-component-next-song {
    display: none;
    color: var(--blur_color);
    background-color: rgb(88, 25, 170);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    position: absolute;
    bottom: 130%;
    width: 28rem;
    height: 9rem;
    border-radius: 4px;
}

.fa-arrow-right:hover .wrapper-component-next-song {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper-content-component-next-song {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 1rem;
    top: 4rem;
    bottom: 1rem;
}

.wrapper-text-component-next-song {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-image-component-next-song {
    width: 4rem;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.fa-repeat:hover .wrapper-repeat {
    background-color: rgb(88, 25, 170);
    color: white;
    bottom: 130%;
    font-size: 1rem;
    width: 16rem;
    height: 2.5rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}