.wrapperMenu {
    position: fixed;
    top: 0;
    width: 18%;
    height: 85%;
    background-color: black;
    color: white;
    font-size: 1.5rem;
}


.wrapper_menu_button {
    height: 45rem;
}

.menu_scroll_view::-webkit-scrollbar {
    width: 4px;
}

@keyframes hideScroll {
    from {
        width: 4px;
    }

    to {
        width: 0px;
    }
}


.menu_scroll_view::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
}

.menu_scroll_view {
    overflow-y: scroll;
    overflow-x: hidden;
}

#scroll_view_menu {
    height: 15rem;
    margin-top: 1rem;
}

.scroll_bar_y {
    overflow-y: scroll;
}

.scroll_bar_y::-webkit-scrollbar {
    width: 0px;
}

.wrapper_menu_clicked {
    display: none;
}

.button_footer_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 3rem;
    z-index: 600;
    width: 100%;
    height: 5rem;
    opacity: 1;
    cursor: pointer;
    color: white;
    position: absolute;
    bottom: 0;
    border-top: var(--line_primary);
}

.footer {
    position: absolute;
    width: 100%;
    height: 1.6rem;
    right: 4px;
    background: linear-gradient(180deg, black 70%, rgb(0, 0, 0, 0.9) 30%);
    z-index: 600;
    box-shadow: rgba(0, 0, 0, 0.88) 0px 4px 0px;
}

.footer .line_center {
    background-color: rgba(255, 255, 255, 0.2);
    height: 0.1rem;
    z-index: 600;
    width: 80%;
    text-align: center;
    margin: auto;
}

.image_logo {
    margin-left: 2rem;
    margin-top: 1rem;
    width: 60%;
    height: 6rem;
}

.image_logo img {
    width: 100%;
}

.wrapperImg {
    width: 12rem;
    margin-left: 5rem;
}

.imageGroup {
    width: 100%;
}

.line {
    position: absolute;
    height: 100%;
    width: 0.3rem;
    left: 0;
    background-color: var(--secondary);
}

.line_menu_small {
    display: none;
}

.wrapper_icon_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    width: 3rem;
    height: 3rem;
}

@media only screen and (min-width: 768px) and (max-width: 830px) {
    .wrapperMenu {
        display: none;
    }

    .wrapper_menu_clicked {
        width: var(--width_menu_bar);
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        color: white;
        position: fixed;
        top: 0;
        height: 50%;
        animation: right_to_left 0.5s ease;
        z-index: 500;
    }


    .wrapper_menu_clicked .new_logo {
        width: 40px;
        height: 10%;
        padding-top: 1rem;
    }

    .wrapper_menu_clicked .new_logo .new_logo_img {
        width: 100%;
    }

    .wrapper_menu_clicked .item_clicked {
        font-size: 2.5rem;
        opacity: 0.9;
        width: 100%;
        height: 9.8%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .wrapper_menu_clicked #title_menu_zoom_in {
        display: none;
    }

    .wrapper_menu_clicked .icon_arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        background-color: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.9);
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        cursor: pointer;
    }

    .wrapper_menu_clicked_zoom_in {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 500;
        width: 30%;
        height: 50%;
        color: white;
        background: black;
        animation: left_to_right 0.3s ease;
    }


    @keyframes left_to_right {
        from {
            width: var(--width_menu_bar);
        }

        to {
            width: 30%;
        }
    }

    @keyframes right_to_left {
        from {
            width: 30%;
        }

        to {
            width: var(--width_menu_bar);
        }
    }

    .wrapper_menu_clicked_zoom_in .item_clicked {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding-left: 2rem;
        position: relative;
        overflow: hidden;
    }

    .wrapper_menu_clicked_zoom_in .title_logo_musike {
        align-self: flex-start;
        margin-left: 2rem;
        margin-top: 1rem;
        width: 65%
    }

    .wrapper_menu_clicked_zoom_in .title_logo_musike .img_logo_musike {
        width: 100%;
    }

    .wrapper_menu_clicked_zoom_in #title_menu_zoom_in {
        display: block;
        font-size: 2rem;
        margin-left: 1rem;
        align-self: center;
        height: 2.5rem;
        overflow: hidden;
    }

    .wrapper_menu_clicked_zoom_in .line_menu_small {
        position: absolute;
        height: 100%;
        width: 0.3rem;
        top: 0;
        right: 0;
        background-color: var(--secondary);
    }

    .wrapper_menu_clicked_zoom_in .icon_arrow_new {
        display: flex;
        align-items: center;
        align-self: flex-end;
        justify-content: center;
        font-size: 20px;
        background-color: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.9);
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        cursor: pointer;
        margin-right: 1rem;
        margin-top: 0.5rem;
    }

    /* .zoom_out_menu {
        animation: right_to_left 0.4s linear;
    } */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}



/* @media screen and (max-width: 768px) {} */