.container {
    position: fixed;
    right: 0;
    top: 5.5rem;
    width: 24%;
    /* height: 90%; */
    background-color: #1E1E1E;
    color: white;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.wrapperHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.titleHeader {
    width: 50%;
    color: var(--secondary);
    font-size: 1.8rem;
}

.wrapperHeaderTitleRight {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
}

.content_autoplay {
    font-style: italic;
}

.wrapperToggleBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 1rem;
    border: 1px solid #fff;
    width: 4.5rem;
    height: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.turnOn {
    font-weight: 100;
    font-size: 1.3rem;
}

.turnOff {
    font-weight: 100;
    font-size: 1.3rem;
}

.circleRed {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--primary);
}

.circleBlack {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #fff;
}

.flatList {
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 100;
}

.wrapperItemNextSong {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 0;
    margin-bottom: 0.7rem;
    cursor: pointer;
}

.itemLeft {
    display: flex;
    flex-direction: row;
    width: 75%;
}

.wrapperImageSinger {
    width: 20%;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-right: 1rem;
}

.imageSinger {
    width: 100%;
}

.contentItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nameOfSong {
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
}

.itemRight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
}

.timeSong {
    margin-right: 1rem;
}


/* @media screen and (min-width: 768px) and (max-width:1024px) {
    .container {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .container {
        display: none;
    }
} */

/* Extra small devices (phones, 600px and down) */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
    .container {
        display: block;
    }
} */

@media only screen and (max-width: 830px) {
    .container {
        display: none
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}