*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --primary: rgba(255, 52, 74, 1);
    --secondary: #FF344A;
    --width_menu_bar: 70px;
    --width_nextsong: 28%;
    --line_primary: 0.1rem solid rgba(255, 255, 255, 0.2);
    --fontSize_primary: 1.2rem;
    --fontSize_secondary: 1.1rem;
    --blur_color: rgba(255, 255, 255, 0.6);
    --blur_bg: rgba(255, 255, 255, 0.2);
}

html {
    font-size: 10px;
    user-select: none;
}

body {
    margin: 0;
    height: 100%;
    background-color: rgba(23, 23, 23, 1);
    font-family: 'Inter', sans-serif;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 0
}


@media only screen and (min-width: 768px) and (max-width: 992px) {
    html {
        font-size: 8px;
    }
}

@media only screen and (min-width: 992px) {
    html {
        font-size: 9px;
    }
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 10px;
    }
}