*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --primary: rgba(255, 52, 74, 1);
    --secondary: #FF344A;
    --width_menu_bar: 70px;
    --width_nextsong: 28%;
}

html {
    font-size: 10px;
    user-select: none;
}

body {
    margin: 0;
    background-color: rgba(23, 23, 23, 1);
    height: '100%';
}


@media only screen and (min-width: 768px) and (max-width: 992px) {
    html {
        font-size: 8px;
    }
}

@media only screen and (min-width: 992px) {
    html {
        font-size: 9px;
    }
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 10px;
    }
}